@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */
body{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}
.btn-brand{
    border-radius: 5px;
    font-size: 14px;
    padding: 12px 34px;
    background: #111430;
    color: white;
    border: none;
    font-family: 'Poppins', sans-serif;
    transition: .3s;
}
.btn-brand:hover{
    background: #232a61;
}
.section-title{
    font-size: 34px;
    color:#2D2D2D;
    font-weight: 600;
    margin-bottom: 70px;
    text-align: center;
}
.section-title span{
    color: #7AB259;
    
}
.bg-dashboard{
    background: #F4F7FC;
}